body{
    background-color: #ffffff;
}
.carousel-item {
    height: 300px;
  }

.carousel img {
    max-height: 19rem;
    margin: 0 auto;
}
.card-img-top {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.jumbotron-special{
    background: url("uta-edit.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.weight-font{
    font-weight: 400;
    color: white;
    font-family: Oswald;
    text-align: center;
}

.justify-text{
    text-align: justify;
}

.masthead img{
    width:100%;
}

.card {
   margin: 0 auto; /* Added */
   float: none; /* Added */
   margin-bottom: 10px; /* Added */
}
