{% load static %}
<!--<nav class="navbar navbar-expand-lg  border-bottom " style="background-color: #E0E2DB;">
  <ul class="navbar-nav" style="font-size: 0.8rem;">
    <li class="nav-item" style="margin-left: 100px; font-size: 20px;">
      fondecyt
    </li>
    <li class="nav-item ">
    </li>
    <li class="nav-item">
    </li>
  </ul>
</nav>
-->
<nav class="navbar navbar-expand-lg " style="background-color: #FFFFFF;">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item">
      <a href="#">
        <img class="navbar-brand" src="{% static 'fondecyt/images/LOGO-FONDECYT.png' %}" width="300">
      </a>
    </li>
  </ul>
</nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #F2EDEB;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'fondecyt:home' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'fondecyt:proyecto' %}">Proyecto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fondecyt:instituciones' %}">Instituciones participantes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fondecyt:equipo' %}">Equipo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fondecyt:productos'%}">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fondecyt:noticias' %}">Noticias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fondecyt:colaboradores' %}">Colaboradores</a>
        </li>
      </ul>
    </div>
  </nav>