{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/686111fdd6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'fondecyt/css/style.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=NotoSansJP" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
</head>

<body>
  {% include 'partials/navbar.html' %}
  {% block partials %}
  {% endblock %}
  <div class="container">
    {% block content_body %}

    {% endblock %}
  </div>
  {% block parciales %}
  {% endblock %}
  <div class="jumbotron jumbotron-fluid mt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <h6>Fondecyt INI 11180044.</h6>
          <img class="navbar-brand" src="{% static 'fondecyt/images/LOGO-FONDECYT.png' %}" width="400">
          <p class="lead" style="font-size: 15px; text-align: justify;">
            <hr>
            Este Proyecto fue financiado por el Ministerio de Educación de Chile, mediante el Fondo nacional de desarrollo cientifico y tecnologico
          </p>
          <p class="lead" style="font-size: 15px; text-align: justify;">(Código Proyecto; Fondecyt INI 11180044, año 2020)</p>
        </div>
        <div class="col-lg-6 col-12">
          <i class="fas fa-phone-square-alt mt-5" style="color: green; text-align: right; font-size: 25px;"><p style="display: inline; color: black; font-family: Oswald; font-size: 18px;" class="ml-4">(+569) 8361 7524</p></i>
          <i class="fas fa-map-marker-alt mt-5" style="color: red; text-align: right; font-size: 25px;"><p style="display: inline; color: black; font-family: Oswald; font-size: 18px;" class="ml-4">18 de septiembre 2222. Departamento de Educación. Oficina 16.</p></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

</body>

</html>
