{% extends "base.html" %}
{% load static %}

{% block content_body %}
<div class="row mt-4">
    {% for persona in equipo %}
    <div class="col-lg-6 col-12">
	    <div class="row">
        <div class="card mb-3" style="width:540px;">
            <a href="{% url 'fondecyt:integrante' persona.id %}" style="text-decoration: none; color: #000;">
            <div class="row no-gutters">
                <div class="col-md-4 col-4">
                    {% if persona.photo %}
                    <img src="{{persona.photo.url}}" class="card-img card-img-top" alt="...">
                    {% else %}
                    <img src="{% static 'fondecyt/images/perfil.jpg' %}" class="card-img img-fluid card-img-top" alt="...">
                    {% endif %}
                </div>
                <div class="col-md-8 col-8">
                    <div class="card-body">
                            <h5 class="card-title">{{persona.name}} {{persona.lastname}}</h5>
                            <p class="card-text mt-7" style="text-align: justify; color:#5F5757;">{{persona.universidad}}</p>
                            <p class="card-text mt-7" style="text-align: justify; color:#5F5757;">{{persona.info}}</p>
                        </div>
                    </div>
                </div>
            </a>
	</div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
