{% extends "base.html" %}
{% load static %}
{% block partials %}
<div class="jumbotron jumbotron-special">
  <br>
  <br>
  <h1 class="display-4 weight-font">Universidad de tarapacá</h1>
  <br>
  <br>
</div>
{% endblock %}

{% block content_body %}
<div class="row mt-4">
  <div class="col-lg-6 col-12">
    <img src="{% static 'fondecyt/images/afiche.jpg' %}" class="img-fluid w-100 " alt="Responsive image"
      style="float: left;">
  </div>
  <div class="col-lg-6 col-12 mt-5">
    <div class="row">
      <div class="col-12">
        <a href="{% url 'fondecyt:colaboradores' %}" style="text-decoration: none; color: #000;">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4 col-4">
                <img src="{% static 'fondecyt/images/study.jpg' %}" class="card-img card-img-top" alt="...">
              </div>
              <div class="col-md-8 col-8">
                <div class="card-body">
                  <h5 class="card-title">Colaboradores</h5>
                  <p class="card-text justify-text">Conoce a los academicos que forman parte de este proyecto. </p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12">
        <a href="{% url 'fondecyt:instituciones' %}" style="text-decoration: none; color: #000;">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4 col-4">
              <img src="{% static 'fondecyt/images/instituciones.png' %}" class="card-img card-img-top" alt="...">
            </div>
            <div class="col-md-8 col-8">
              <div class="card-body">
                <h5 class="card-title">Instituciones participantes</h5>
                <p class="card-text justify-text">Conoce las diversas instituciones que han brindado información para llevar a 
                  cabo las investigaciones.
                </p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
      <div class="col-12">
        <a href="{% url 'fondecyt:equipo' %}" style="text-decoration: none; color: #000;">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4 col-4">
              <img src="{% static 'fondecyt/images/equipo.jpg' %}" class="card-img card-img-top" alt="...">
            </div>
            <div class="col-md-8 col-8">
              <div class="card-body">
                <h5 class="card-title">Equipo de investigación</h5>
                <p class="card-text justify-text">Conoce a los academicos que forman parte de este proyecto.</p>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 mt-4">
    <div class="row">
      {% for noticia in noticias %}
      <div class="col-12">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            {% if noticia.photo %}
            <div class="col-md-4 col-4">
              <img src="{{noticia.photo.url}}" class="card-img card-img-top" alt="...">
            </div>
            {% else %}
            <div class="col-md-4 col-4">
              <img src="{% static 'fondecyt/images/news.jpg' %}" class="card-img card-img-top" alt="...">
            </div>
            {% endif %}
            <div class="col-md-8 col-8">
              <div class="card-body">
                <h5 class="card-title" style="font-size: 15px; text-align: center;">{{noticia.titulo}}</h5>
                <p class="card-text justify-text" style="font-size: 13px;">{{noticia.cabecera}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-6 col-12 mt-1">
    <img src="{% static 'fondecyt/images/logoAnid.png' %}" class="img-fluid w-100 " alt="Responsive image"
      style="float: left;">
  </div>
</div>
{% endblock %}

{% block parciales %}
{% endblock%}
