{% extends "base.html" %}
{% load static %}

{% block content_body %}
<div class="row mt-4">
    {% for universidad in instituciones %}
    <div class="col-lg-4 col-12">
        <div class="card" style="width: 18rem;">
            {% if universidad.photo %}
            <img src="{{universidad.photo.url}}" class="card-img img-fluid card-img-top" alt="...">
            {% else %}
            <img src="{% static 'fondecyt/images/news.jpg' %}" class="card-img img-fluid card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title" style="font-size: 15px; text-align: center; text"><strong>{{universidad.name}}</strong></h5>
                <p class="card-text mt-2" style="text-align: justify; font-size: 14px;">{{universidad.desc}}</p>
                <a href="{{universidad.web}}" class="btn btn-primary" target="_blank" >Web de la institución</a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
