{% extends "base.html" %}
{% load static %}

{% block content_body %}
<div class="row mt-4">
    <div class="col-1"></div>
    <div class="col-10" style="text-align: justify; background-color: #ffffff;">
        {% if foto %}
        <img src="{{foto}}" class="img-fluid w-10 mr-3 md-3 mt-3 mb-2" alt="Responsive image" style="float: left; height: 15rem;">
        {% endif %}
        <h3 class="mt-2">{{persona.name}} {{persona.lastname}}</h3>
        <p class="mt-3 mb-4">{{persona.universidad}}</p>
        <p class="mt-3">{{persona.resumen}}</p>  
    </div>
    <div class="col-1"></div>
</div>
{% endblock %}