{% extends "base.html" %}
{% load static %}

{% block content_body %}
<div class="row mt-3">
  <div class="col-lg 6 col-12">
    <img src="{% static 'fondecyt/images/Panel3.jpeg' %}" class="img-fluid w-10 mr-3 md-3 mt-2" alt="Responsive image" style="float: left;">
  </div>
  <div class="col-lg-6 col-12 mt-5">
  {% for noticia in noticias %}
    <div class="card mb-3" style="max-width: 540px;">
      <a href="{% url 'fondecyt:noticia' noticia.id %}" style="text-decoration:none; color: black;">
        <div class="row no-gutters">
          <div class="col-md-4">
            {% if noticia.photo %}
            <img src="{{noticia.photo.url}}" class="card-img img-fluid card-img-top" alt="...">
            {% else %}
            <img src="{% static 'fondecyt/images/news.jpg' %}" class="card-img img-fluid card-img-top" alt="...">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 15px; text-align: center; margin-top: -12px;">{{noticia.titulo}}</h5>
              <p class="card-text mt-2" style="text-align: justify; font-size: 14px;">{{noticia.cabecera}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% for noticia in noticias2 %}
  <div class="card mb-3 mt-3" style="max-width: 540px;">
    <a href="{% url 'fondecyt:noticia' noticia.id %}" style="text-decoration:none; color: black;">
      <div class="row no-gutters">
        <div class="col-md-4">
          {% if noticia.photo %}
          <img src="{{noticia.photo.url}}" class="card-img img-fluid card-img-top" alt="...">
          {% else %}
          <img src="{% static 'fondecyt/images/news.jpg' %}" class="card-img img-fluid card-img-top" alt="...">
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 15px; text-align: center; margin-top: -12px;">{{noticia.titulo}}</h5>
            <p class="card-text mt-2" style="text-align: justify; font-size: 14px;">{{noticia.cabecera}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}