{% extends "base.html" %}
{% load static %}

{% block content_body %}
<div class="row mt-4">
    <div class="col-12" style="text-align: justify;">
        <h3 style="text-align: center;">{{noticia.titulo}}</h3>
        {% if foto %}
        <img src="{{foto}}" class="img-fluid w-10 mr-3 md-3 mt-3" alt="Responsive image" style="float: left;">
        {% endif %}
        {% for parrafo in parrafos %}
        <p class="mt-3">{{parrafo}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}