{% extends "base.html" %}
{% load static %}

{% block content_body %}
<div class="row mt-4">
  {% for producto in productos %}
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">{{producto.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Por {{producto.autor.name}} {{producto.autor.lastname}}</h6>
      <p class="card-text" style="text-align: justify;">{{producto.description}}</p>
      <a href="{{producto.document.url}}"  target='_blank' class="card-link">Ver archivo</a>
      <div class="text-muted">
        {{producto.uploaded_at}}
      </div>
    </div>
  </div>
    {% endfor %}
</div>
{% endblock %}