{% extends "base.html" %}
{% load static %}

{% block content_body %}
<div class="row mt-4">
    <div class="card w-100 mb-4 ml-4 mr-4" style="width: 18rem;">
        <div class="card-body mt-4 ml-4 mr-4 mb-4">
          <h5 class="card-title">Resumen del proyecto</h5>
          <div id="header">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row" class="bg-dark text-white">Nombre Inv. Responsable:</th>
                  <td class="bg-white text-dark"><strong>Raúl Antonio Bustos González</strong></td>
                </tr>
                <tr>
                  <th scope="row" class="bg-dark text-white">Título Proyecto:</th>
                  <td style="text-align: justify;" class="bg-white text-dark">
                    <strong>
                    Modalidades y prácticas evaluativas empleadas por los docentes de Historia, 
                    Geografía y Ciencias Sociales, en los establecimientos públicos de enseñanza 
                    media con altos índices de vulnerabilidad, en región de frontera.
                    </strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="Primer parrafo" class="mb-3">
            <!--<h6 class="card-subtitle mb-2 text-muted">Explicacion del proyecto</h6>-->
            <p class="card-text" style="text-align: justify;"> 
              En la región de Arica y Parinacota, por su ubicación geo-política, 
              se presentan características particulares que tensionan las estructuras 
              con las que tradicionalmente se ha asumido la política pública. 
              Las razones de esta tensión se encuentran en la diversidad cultural 
              presente en su territorio, la incertidumbre en torno a la representación 
              permanente de una crisis económica y las condiciones históricas que subyacen 
              en la incorporación de la región a territorio chileno. En este sentido, 
              Históricamente, la educación ha sido uno de los principales mecanismos de 
              construcción de la identidad nacional, lo que generalmente se interpretaba 
              como la tarea de consecución y preservación de la uniformidad cultural. 
              El reconocimiento de este rol histórico de la educación ha generado un permanente 
              desinterés en atender la diferencia, ignorando que dicha actitud promueve barreras 
              para el aprendizaje. No obstante, en los últimos años en el ámbito educativo, el 
              término “inclusión” ha desplazado al de “integración”, sin embargo, las tensiones 
              emergen cuando la condición del alumno plantea un estilo de aprendizaje para los 
              que el currículo es insuficiente. 
            </p>
            <p class="card-text" style="text-align: justify;"> 
              Uno de los componentes del proceso educativo, más sensible para el paradigma 
              de la inclusión, es la evaluación de aprendizajes. Al mismo tiempo, uno de 
              los subsectores más relacionados con los paradigmas de interculturalidad e 
              identidad nacional es el de Historia, Geografía y Ciencias Sociales. 
              Es por esta razón que proponemos analizar las modalidades y prácticas evaluativas 
              empleadas por los docentes de Historia, Geografía y Ciencias Sociales, en los 
              establecimientos de enseñanza media con altos índices de vulnerabilidad, de la 
              región de Arica y Parinacota. En consecuencia con dicho objetivo general, 
              se propone los siguientes objetivos específicos:
            </p>
          </div>
          <div class="mt-2 mb-1 mr-5 ml-3">
            <ol style="text-align: justify;">
              <li class="mb-1">
                Identificar las modalidades y prácticas evaluativas más utilizadas por los 
                profesores de enseñanza media, de la asignatura de Historia, Geografía y Ciencias 
                Sociales, y como operan las representaciones nacionalistas y hegemónicas del Estado 
                chileno en ellas.
              </li>
              <li class="mb-1">
                Establecer las razones por las que los docentes emplean las modalidades y prácticas 
                identificadas.
              </li>
              <li class="mb-1">
                Relacionar las modalidades y prácticas evaluativas utilizadas por los docentes, con 
                los discursos y representaciones en torno al rol de la evaluación en el marco del proceso 
                de enseñanza-aprendizaje.
              </li>
              <li>
                Señalar las representaciones y juicios de los estudiantes, en torno a las modalidades 
                y prácticas evaluativas empleadas en las asignaturas estudiadas.
              </li>
            </ol>
          </div>
          <div id="segundo parrafo" class="mt-3">
            <p class="card-text" style="text-align: justify;"> 
              El diseño metodológico de la presente investigación es de carácter mixto, pues se 
              desarrollará un primer acercamiento cuantitativo a la realidad propuesta, que será 
              profundizado a través de las estrategias cualitativas de investigación. 
              Se combinarán la observación de procesos evaluativos, los grupos focales y las 
              entrevistas en profundidad a profesores de historia y geografía, jefes de unidad 
              técnica pedagógica y estudiantes de los establecimientos en estudio. Por otro lado, 
              se analizará la coherencia entre los objetivos declarados y los instrumentos e 
              instancias aplicadas efectivamente. De esta manera, triangulando este análisis con 
              los elementos obtenidos de las entrevistas y grupos focales, se podrá reconocer 
              patrones identificables en la representación del proceso evaluativo de los participantes. 
            </p>
            <p class="card-text" style="text-align: justify;"> 
              La reducción de los datos se realizará por fragmentación en singularidades, atendiendo 
              a criterios temáticos. Posteriormente estos datos se codificarán adoptando un procedimiento 
              mixto, el que será apoyado por  el software Atlas. Ti versión 7. El trabajo cuantitativo 
              se realizará  apoyado en el programa SPSS Versión 22 y se centrará en el análisis de variables 
              de carácter nominal como años de ejercicio del docente, número de estudiantes, número de 
              instancias de evaluación y rendimiento, entre otras. Los resultados se difundirán en congresos 
              internacionales y nacionales, en dos publicaciones indexadas WOS (Web of Science), 
              Thomson Reuters o Scopus, para el segundo y tercer año del proyecto y la realización de 
              seminarios para la difusión a la comunidad.
            </p>
          </div>
          <a href="{% static 'fondecyt/pdf/FORMULACION.pdf'%}" target="_blank">Continuar leyendo</a>
        </div>
      </div>
</div>
{% endblock %}